:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy-950: #0e1323;
  --color-navy-900: #1c204b;
  --color-navy-800: #33397a;
  --color-navy-200: #bbc0ff;
  --color-orange-300: #ff8b64;
  --color-purple-700: #7335d2;
  --color-purple-600: #5747ea;
  --color-purple-500: #7078c9;
  --color-blue-300: #55c2e6;
  --color-pink-400: #ff5e7d;
  --color-green-400: #4bcf82;
  --color-yellow-300: #f1c75b;
  --color-grey-200: #d8d8d8;

  --text-preset-1: 300 3.5rem/1.18 "Rubik", sans-serif;
  --text-preset-2: 300 2.5rem/1.18 "Rubik", sans-serif;
  --text-preset-3: 300 2rem/1.19 "Rubik", sans-serif;
  --text-preset-4: 300 1.5rem/1.17 "Rubik", sans-serif;
  --text-preset-5-medium: 400 1.125rem/1.17 "Rubik", sans-serif;
  --text-preset-5: 500 1.125rem/1.17 "Rubik", sans-serif;
  --text-preset-6: 300 0.9375rem/1.2 "Rubik", sans-serif;

  --space-0: 0rem;
  --space-100: 0.5rem;
  --space-200: 1rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-navy-950);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  color: var(--color-white);
  font-family: "Rubik", sans-serif;
}

button,
input {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

/* ===== MOBILE (base) ===== */

.dashboard {
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "profile"
    "work"
    "play"
    "study"
    "exercise"
    "social"
    "self-care";
  gap: var(--space-300);
  max-width: 375px;
  padding: var(--space-400) var(--space-200);
}

.report {
  border-radius: var(--space-200);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: right 15px top -10px;
  background-size: 55px;
  position: relative;
  transform: translateZ(0);
  min-height: 160px;
}

.report--profile {
  grid-area: profile;
  background-color: var(--color-navy-900);
}

.profile__header {
  border-radius: var(--space-200);
  background-color: var(--color-purple-600);
  padding: var(--space-300);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-200);
}

.profile__avatar--wrapper {
  width: 70px;
  height: 70px;
  flex-shrink: 0;
  background-color: var(--color-white);
  border-radius: 50%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.profile__desc {
  font: var(--text-preset-6);
}

.profile__name {
  font: var(--text-preset-3);
}

.report-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-200);
  padding: var(--space-300) var(--space-400);
}

.report-filter__option {
  font: var(--text-preset-5);
}

.report-filter__option:hover,
.report-filter__option--active {
  color: var(--color-white);
}

.report-filter__option:not(.report-filter__option--active) {
  color: var(--color-purple-500);
}

.report__content {
  position: absolute;
  top: var(--space-500);
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--space-200);
  background-color: var(--color-navy-900);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-100);
  padding: var(--space-200);
}

.report__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report__button {
  display: inline-block;
}

.report__category {
  font: var(--text-preset-5-medium);
}

.report__current {
  font: var(--text-preset-2);
}

.report__previous {
  font: var(--text-preset-6);
}

.report--work {
  grid-area: work;
  background-color: var(--color-orange-300);
  background-image: url("./images/icon-work.svg");
}

.report--play {
  grid-area: play;
  background-color: var(--color-blue-300);
  background-image: url("./images/icon-play.svg");
}

.report--study {
  grid-area: study;
  background-color: var(--color-pink-400);
  background-image: url("./images/icon-study.svg");
}

.report--exercise {
  grid-area: exercise;
  background-color: var(--color-green-400);
  background-image: url("./images/icon-exercise.svg");
}

.report--social {
  grid-area: social;
  background-color: var(--color-purple-700);
  background-image: url("./images/icon-social.svg");
}

.report--self-care {
  grid-area: self-care;
  background-color: var(--color-yellow-300);
  background-image: url("./images/icon-self-care.svg");
}

.attribution {
  flex-shrink: 0;
  font-size: 0.6875rem;
  text-align: center;
  margin-block: 2rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ===== TABLET (intermediate) ===== */
@media (min-width: 40em) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "profile profile"
      "work play"
      "study exercise"
      "social self-care";
    max-width: 720px;
    gap: var(--space-300);
  }

  .report--profile {
    grid-column: 1 / -1;
  }
}

/* ===== DESKTOP (2 mode) ===== */
@media (min-width: 64em) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "profile work play study"
      "profile exercise social self-care";
    gap: var(--space-400);
    max-width: 1000px;
    padding: 0;
  }

  .profile__header {
    padding: var(--space-400);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--space-200);
  }

  .profile__name {
    font: var(--text-preset-2);
  }

  .report-filter {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .report__content {
    gap: var(--space-200);
  }

  .report__current {
    font: var(--text-preset-1);
  }
}
